
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../asset/montanas-minimalista-arte-low-poly_3840x2160_xtrafondos.com.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    text-align: center;
    width: 300px;
    padding: 1rem;
    background-color: rgba(45, 207, 207, 0.427);
}

.sign-in-container {
    display: none;
}

h1 {
    margin-bottom: 1rem;
}

.form input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: auto;
    margin-bottom: 20px;
    outline: none;
}

.form input[type="text"].error {
    border: solid thin red;
}

.form input[type="email"].error {
    border: solid thin red;
}

.form input[type="password"].error {
    border: solid thin red;
}

.form input[type="submit"] {
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    background-color: rgb(32, 69, 181);
    border: none;
    color: #fff;
}

.form a {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 150px;
    font-size: .7rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: underline;
}

.notify {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 1rem;
    text-align: center;
    color: #fff;
    display: none;
}

.check_notify {
    background-color: green;
}

.check_notify.active {
    display: block;
}

.error_notify {
    background-color: red;
}

.error_notify.active {
    display: block;
}